* {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    font-size: 0;
}

table {
    border-collapse: collapse;
}

td {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    margin-top: -239px;
    margin-left: -45px;
}

td:last-child img {
    margin-left: -211px;
}

tr:nth-last-child(2) img {
    margin-top: -253px;
}

tr:last-child img {
    display: none;
}
